<div class="col-xs-12 col-sm-10 col-md-8 center-block">
  <h1>Editar detalles de seguridad</h1>
  <hr>
  <%= simple_form_for @security_details do |f| %>
    <%= render 'security_details/forms/create', f: f %>
    <%= f.submit 'Guardar', class: 'btn btn-success' %>
  <% end %>
</div>