<% title 'Agregar detalles de seguridad' %>
<div class="row">
  <div class="page-header">
    <h1>Agregar detalles de seguridad</h1>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-8 center-block">
    <%= render 'assets/partials/card', asset: @asset %>
    <%= simple_form_for @security_details, url: asset_security_details_path(@asset) do |f| %>
      <%= render 'security_details/forms/fields', f: f %>
      <%= f.submit 'Guardar', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
