<%= f.simple_fields_for :security_detail_attributes do |sd| %>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= sd.input :username, label: 'Usuario' %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= sd.input :password, as: :string, label: 'Contraseña' %>
      </div>
    </div>
<% end %>
