<% title 'Editar detalles de red' %>
<div class="row">
  <div class="page-header">
    <h1>Editar detalles de red</h1>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-8 center-block">
    <%= render 'assets/partials/card', asset: @network_details.asset %>
    <%= simple_form_for @network_details do |f| %>
        <%= render 'network_details/forms/fields', f: f %>
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
