<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= f.input :ip, label: 'Dirección IP' %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= f.input :mask, label: 'Máscara de red' %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= f.input :gateway, label: 'Puerta de enlace' %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= f.input :dns, label: 'DNS' %>
  </div>
</div>
