<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= f.input :purchase_date, label: 'Fecha de compra' %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= f.input :month_period, label: 'Meses de garantía' %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= f.input :agent_name, label: 'Emisor de la garantía' %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= f.input :agent_phone, label: 'Teléfono' %>
  </div>
</div>
