<% title 'Editar colaborador' %>
<div class="row">
  <div class="page-header">
    <h1>Editar colaborador</h1>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-8 center-block">
    <%= simple_form_for @user do |f| %>
      <%= render 'users/form', f: f %>
  <% end %>
  </div>
</div>