<% title 'Nuevo colaborador' %>
<div class="row">
  <div class="page-header">
    <h1>Nuevo colaborador</h1>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-8 center-block">
    <div class="row">
      <div class="col-xs-12">
        <div class="alert alert-info alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p><%= fa_icon('info') %> Los usuarios colaboradores no poseen credenciales de autenticación.
            La aplicación Tydilabs móvil solicita un PIN de ingreso.</p>
        </div>
      </div>
    </div>
    <%= simple_form_for @user, url: new_collaborator_path do |f| %>
      <%= render 'users/form', f: f %>
    <% end %>
  </div>
</div>
