<% title 'Editar detalles técnicos' %>
<div class="row">
  <div class="page-header">
    <h1>Editar detalles técnicos</h1>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-8 center-block">
    <%= render 'assets/partials/card', asset: @technical_detail.asset %>
    <%= simple_form_for @technical_detail do |f| %>
      <%= render 'technical_details/forms/fields', f: f %>
      <%= f.submit 'Guardar', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
