<div class="col-xs-12 col-sm-10 col-md-8 center-block">
  <h1>Agregar detalles técnicos</h1>
  <hr>
  <%= simple_form_for @technical_detail, url: asset_technical_details_path(@asset) do |f| %>
    <%= render 'technical_details/forms/fields', f: f %>
    <%= f.submit 'Guardar', class: 'btn btn-success' %>
  <% end %>
</div>