<% title 'Editar revision' %>
<div class="row">
 <div class="page-header">
   <h1>Editar <%= @revision.name.capitalize %></h1>
 </div>

 <div class="col-md-8 col-md-offset-2">
  <%= render 'form' %>
 </div>
</div>
