<div class="row">
  <div class="page-header">
    <h1>Sistema de gestión de activos</h1>
  </div>
  <div class="col-md-12">
    <% @blocks.each do |block| %>
      <div class="col-sm-4">
        <%= render 'defaults/partials/cell', url: block[:url], name: block[:name], icon: block[:icon] %>
      </div>
    <% end %>
  </div>
</div>
