<div class="col-xs-12 col-sm-4 index-cell">
  <a href="<%= url_for(url) %>">
    <div class="panel panel-default navbar-inverse">
      <div class="panel-body text-center">
        <h3><%= name %></h3>
        <%= fa_icon "#{icon} 4x" %>
      </div>
    </div>
  </a>
</div>