<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= f.input :username, label: 'Usuario' %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= f.input :password, as: :string, label: 'Contraseña' %>
  </div>
</div>
