<div class="modal fade" tabindex="-1" role="dialog" id="<%= "warranty-modal-#{action}" %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Detalles de garantía</h3>
      </div>
      <%= simple_form_for @asset.warranty, url: url do |f| %>
        <div class="modal-body">
          <%= render 'warranties/forms/fields', f: f %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>