<nav class="navbar navbar-main">
  <nav class="navbar navbar-banner">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'https://www.ucr.ac.cr', class: 'navbar-brand', style: 'height:auto;' do %>
            <%= image_tag 'logo.png' %>
        <% end %>
      </div>
      <p class="navbar-text navbar-right hidden-xs">
        <%= image_tag 'belt.png' %>
      </p>
      <!--/.navbar-collapse -->
    </div>
  </nav>
</nav>