<nav class="navbar navbar-ucr">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Medio</a></li>
        <li><a href="#">Final</a></li>
      </ul>
    </div>
  </div>
</nav>