<% title 'Nuevo préstamo' %>
<div class="row">
  <div class="page-header">
    <h1>Nuevo préstamo</h1>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-8 center-block">
    <%= render 'assets/partials/card', asset: @asset %>
    <%= simple_form_for @loan, url: asset_loans_path do |f| %>
        <%= render 'loans/form', f: f %>
    <% end %>
  </div>
</div>