<div class="col-xs-12 col-sm-10 col-md-8 center-block">
  <h1>Editar activo <%= link_to "##{@asset.id}", asset_url(@asset.id) %></h1>
  <hr>
  <%= simple_form_for @asset, url: asset_path(@asset.id) do |f| %>
      <%= render 'assets/forms/create', f: f %>
  <% end %>
</div>
