<%= title 'Nuevo activo' %>
<div class="row">
  <div class="page-header">
    <h1>Nuevo activo</h1>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-8 center-block">
    <%= simple_form_for @asset, url: assets_path do |f| %>
      <%= render 'assets/forms/create', f: f %>
    <% end %>
  </div>
</div>
