/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$blue-ucr: #005da4;
$green-ucr: #6dc067;
$light-blue-ucr: #00c0f3;
$yellow-ucr: #ffe06a;
$orange-ucr: #f37021;

$brand-primary: $blue-ucr;
$brand-success: $green-ucr;
$brand-info: $light-blue-ucr;
$brand-warning: $yellow-ucr;
$brand-danger: $orange-ucr;

// Links
$link-color: $light-blue-ucr;
$link-hover-color: $blue-ucr;
$link-hover-decoration: none;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "animate";
@import "font-awesome";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.navbar-ucr {
  background: white;
}

.navbar-ucr .navbar-nav > li > a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
  background: $blue-ucr;
  transform: scaleX(0);
  transition: all .15s ease-in;
}

.navbar-ucr .navbar-nav > li > a {
  border-bottom: 4px solid transparent;
  transition: border-bottom .1s ease-in;
}

.navbar-ucr .navbar-nav > li > a:hover {
  background: none;
}

.navbar-ucr .navbar-nav > li > a:hover:before {
  transform: scaleX(1);
}

.navbar-brand {
  padding: 0;
}

.navbar-brand > img {
  height: 100%;
  padding: 1px 14px;
  width: auto;
}

/* Content */

#main-container {
  flex: 1;
}

/* Footer */

.footer {
  margin-top: 25px;
  margin-bottom: -20px;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 60px;
  border-top: 1px #eee solid;
}

.footer img {
  @extend .pointer !optional;
  margin: 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: filter .25s ease-in-out;
}

.footer img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.extra-links a {
  margin: 0;
  padding: 0 4px;
}

a.logout {
  color: $alert-danger-text !important;
}

.messages {
  background: transparent;
  width: 40%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
