/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$brand-primary: #005da4;
$brand-success: #6dc067;
$brand-info: #00c0f3;
$brand-warning: #ffe06a;
$brand-danger: #f37021;

// Links
$link-color: $brand-info;
$link-hover-color: $brand-primary;
$link-hover-decoration: none;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.btn {
  vertical-align: baseline;
  color: #000;
  transition: background .1s ease-in;
}

.btn:hover {
  color: #000;
}

.navbar-ucr {
  background: white;
}

.navbar-ucr .navbar-nav > li > a {
  border-bottom: 4px solid transparent;
  transition: border-bottom .1s ease-in;
}

.navbar-ucr .navbar-nav > li > a:hover {
  background: transparent;
  border-bottom: 4px solid #005da4;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand > img {
  height: 100%;
  padding: 1px 14px;
  width: auto;
}

/* Content */

#main-container {
  flex: 1;
}

/* Utils */

.bordered {
  border: solid 1px black
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
