@import "application";

$inverse: #222;

.index-cell a {
  color: #fff;
}

.index-cell a:hover {
  color: $light-blue-ucr;
}

.index-cell a .panel {
  background: $inverse;
  border-radius: 0;
  padding: 1.5rem 0;
}
