@import "bootstrap";

a {
  transition: color .1s ease-in-out;
}

.bordered {
  border: solid 1px black
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.alert-alert {
  @extend .alert-warning !optional;
}

.alert-notice {
  @extend .alert-success !optional;
}

/* To simulate a link */
.pointer {
  cursor: pointer;
}

/* To remove the ugly background in opened dropdowns */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: transparent !important;
}

.center-block {
  @extend .center-block !optional;
  float: none;
}

label {
  abbr {
    display: none;
  }
}

.pagination {
  margin: 0 auto;
}

// Cards

.card {
  @extend .panel;
  @extend .panel-default;
}

.card-body {
  @extend .panel-body;
}

.card-icon {
  width: 15%;
  text-align: center;
  margin: auto;
}

.card-content {
  text-align: center;
}

@media (min-width: $screen-sm-min) {
  .card-body div {
    float: left;
  }

  .card-content {
    width: 85%;
    text-align: left;
  }
}
