<%= simple_form_for @category, url: categories_path do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.input :name, label: 'Nombre' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= f.input :description, as: :string, label: 'Descripción' %>
    </div>
  </div>
  <%= f.submit 'Guardar', class: 'btn btn-success' %>
<% end %>