<div class="col-xs-12 col-sm-10 col-md-8 center-block">
  <h1>Editar categoría <%= link_to "#{@category.name}", category_url(@category.id) %></h1>
  <hr>
  <%= simple_form_for @category, url: category_url(@category.id) do |f| %>
    <%= render 'categories/form', f: f %>
  <% end %>
</div>
