<% title 'Nueva categoría' %>
<div class="row">
  <div class="page-header">
    <h1>Nueva categoría</h1>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-8 center-block">
    <%= simple_form_for @category, url: categories_path do |f| %>
        <%= render 'categories/form', f: f %>
    <% end %>
  </div>
</div>
